#home {
  background-image: url("../img/Tetons.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 1000px;
}
#welcomeBox {
  background-color: black;
  width: 800px;
  height: 150px;
  margin: 0 auto;
  padding: 0px;
  position: absolute;
  top: 25%;
  /* border-radius: 20px; */
  box-shadow: 1px 1px 5px black;
}

/* fix font sizing */

#welcomeBox h1 {
  font-size: 28px;
  color: white;
  text-align: center;
  padding: 8px;
}

#welcomeBox:hover {
  box-shadow: 1px 1px 5px white;
  transition: 500ms;
}

#homeIcon {
  background-image: url("../img/icons/home.png");
  background-repeat: no-repeat;
  height: 48px;
  width: 45px;
  margin: 10px;
}
/* FIX DURATION  */
#homeIcon:hover {
  background-image: url("../img/icons/homeHover.png");
}
#portfolioIcon {
  background-image: url("../img/icons/Portfolio.png");
  background-repeat: no-repeat;
  /* position: sticky; */
  height: 48px;
  width: 48px;
  margin: 10px;
  top: 7%;
}
#portfolioIcon:hover {
  background-image: url("../img/icons/PortfolioHover.png");
}
#homeIcon1 {
  background-image: url("../img/icons/home.png");
  background-repeat: no-repeat;
  height: 48px;
  width: 45px;
  margin: 10px;
  top: 14%;
}
#homeIcon1:hover {
  background-image: url("../img/icons/homeHover.png");
}
#homeIcon2 {
  background-image: url("../img/icons/home.png");
  background-repeat: no-repeat;
  height: 48px;
  width: 45px;
  margin: 10px;
  top: 21%;
}
#homeIcon2:hover {
  background-image: url("../img/icons/homeHover.png");
}
#breaker {
  background-color: black;
  height: 150px;
  width: 100%;
  box-shadow: 5px 5px 5px white;
  /* transform: rotate(3deg); */
}
#breaker1 {
  background-color: black;
  height: 95px;
  width: 100%;
  /* transform: rotate(3deg); */
}
#portfolio {
  background-image: url("../img/Skijoring.jpg");
  height: 960px;
}
#myWorkBox {
  background-color: black;
  margin: 0 auto;
  top: 3%;
  box-shadow: 1px 1px 5px white;
}
/* #myWorkBox h1 {
  font-size: 28px;
  color: white;
  text-align: center;
  padding: 20px;
} */

#project {
  background-color: black;
  width: 900px;
  height: 400px;
  margin: 0 auto;
  padding: 0px;
  top: 13%;
  right: 30%;
  box-shadow: 1px 1px 5px purple;
}
h1 {
  font-size: 28px;
  color: white;
  text-align: center;
  padding: 20px;
}
